@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');

* { 
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;}

header {
    width: 100%;
    height: 100vh;
    background-image: url(japan.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

main {
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    width: 100%;
    height: 15vh;
    background: black; 
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}

nav .logo {
    width: 25%;
    text-align: center;
}

nav .menu {
    width: 40%;
    display: flex;
    justify-content: space-around;
}

nav .menu a {
    width: 25%;
    text-decoration: none;
    color: white;
}

nav .menu a: :first-child {
    color: #be0029;
}

section {

}

section h2 {
    font-size: 35px;
    font-weight: 200;
    letter-spacing: 3px;
    text-shadow: 1px 1px 2px black;
    text-transform: uppercase;
    text-align: center;

}

section h3 {
    margin: 30px 0 20px 0;
    font-size: 55px;
    font-weight: 700;
    letter-spacing: 3px;
    text-shadow: 2px 1px 5px black;
    text-transform: uppercase;
    text-align: center;
}

section p {
    font-size: 25px;
    margin-top: 25px;
    word-spacing: 2px;
    text-shadow: 1px 1px 1px white;
    text-transform: uppercase;
    text-align: center;
}

section a {
    border-radius: 4px;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    outline: none;
    padding: 12px;
    transition: all .5s ease;
}

section .btn1 {
    background: white;
    color: #be0029;
    position: absolute;
    bottom: 20%;
    left: 50%;
}

.btn1:hover {
    color: white;
    background: #be0029;
}

section .btn2 {
    background: #be0029;
    color: white;
    position: absolute;
    bottom: 20%;
    left: 40%;
}

.btn2:hover {
    background: white;
    color: #be0029;
}

.change-content:after {
    content: '';
    animation: changetext 10s infinite linear;
}

@keyframes changetext {
    0% {content:" Tokyo";}
    20% {content:" Osaka";}
    35% {content:" Kyoto";}
    50% {content:" Sapporo";}
    65% {content:" Fukuoka";}
    85% {content:" Nagoya";}
    100% {content:" Yokohama";}
}